.medium-txt {
    font-size: 0.9rem;
    font-weight: 500;
}

.small-txt {
    font-size: 0.8rem;
    font-weight: 500;
}

.smaller-txt {
    font-size: 0.7rem;
    font-weight: 500;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    opacity: 0.5;
    font-size: xx-large;
    font-weight: bold;
  }
  

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-card-title {
    min-height: 39px;
}

mat-card img{
    max-height: 222px;
    max-width: 171px;
}