<mat-card class="mat-elevation-z4 card-size">
    <mat-card-content [ngClass]="enableEdit ? 'container' : ''">
        <img mat-card-image [src]="product.imageUrls[0]" height="222px" width="171px">
        <div class="centered" *ngIf="enableEdit">
            <button mat-raised-button color="primary" style="margin-bottom: 5px;" (click)="editProduct(product.id)">Edit</button>
            <button mat-raised-button color="secondary" style="margin-top: 5px;">Delete</button> 
        </div>
    </mat-card-content>

    <mat-card-title [ngClass]="product.name.length < 10 ? 'medium-txt' : product.name.length < 35 ? 'small-txt' : 'smaller-txt'">{{product.name}}</mat-card-title>

    <mat-card-subtitle>
        <span [ngStyle]="{'text-decoration' : product.discountedPrice > 0 ? 'line-through' : ''}">₹{{product.actualPrice}}</span>
        <span *ngIf="product.discountedPrice > 0" style="padding-left:5px;">₹{{product.discountedPrice}}</span>
    </mat-card-subtitle>
</mat-card>