<div class="margin">
    <div class="align-center">
        <img src="../../assets/categories1.png">
    </div>
    <div class="flex-container">
        <img src="../../assets/shirts.jpg" (click)="goProducts('Shirts')"> 
        <img src="../../assets/jackets.jpg" (click)="goProducts('Jackets')">
        <img src="../../assets/tshirts.jpg" (click)="goProducts('TShirts')">
    </div>
    <div class="flex-container">
        <img src="../../assets/jeans.jpg" (click)="goProducts('Jeans')"> 
        <img src="../../assets/casual-shoes.jpg" (click)="goProducts('Casual Shoes')">
        <img src="../../assets/sports-shoes.jpg" (click)="goProducts('Sports Shoes')">
    </div>
    <div class="flex-container">
        <img src="../../assets/sweatshirts.jpg" (click)="goProducts('Sweathshirts')"> 
        <img src="../../assets/kurtas.jpg" (click)="goProducts('Kurthas')">
        <img src="../../assets/trousers.jpg" (click)="goProducts('Trousers')">
    </div>
    
    <div class="align-center top-deals">
        <img src="../../assets/top-deals1.png">
    </div>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let product of productList">
                <app-product-card [product]="product" [enableEdit]="false"></app-product-card>
            </div>
        </div>
    </div>
</div> 