<div class="margin">
    <div class="align-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Fcategories1.png?alt=media">
    </div>
    <div class="flex-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Fshirts.jpg?alt=media" (click)="goProducts('Shirts')"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Fjackets.jpg?alt=media" (click)="goProducts('Jackets')">
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Ftshirts.jpg?alt=media" (click)="goProducts('TShirts')">
    </div>
    <div class="flex-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Fjeans.jpg?alt=media" (click)="goProducts('Jeans')"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Fcasual-shoes.jpg?alt=media" (click)="goProducts('Casual Shoes')">
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Fsports-shoes.jpg?alt=media" (click)="goProducts('Sports Shoes')">
    </div>
    <div class="flex-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Fsweatshirts.jpg?alt=media" (click)="goProducts('Sweathshirts')"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Fkurtas.jpg?alt=media" (click)="goProducts('Kurthas')">
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Ftrousers.jpg?alt=media" (click)="goProducts('Trousers')">
    </div>
    
    <div class="align-center top-deals">
        <img src="https://firebasestorage.googleapis.com/v0/b/pockets-mens-wear.appspot.com/o/assets%2Ftop-deals1.png?alt=media">
    </div>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let product of productList">
                <app-product-card [product]="product" [enableEdit]="false"></app-product-card>
            </div>
        </div>
    </div>
    <app-info-footer></app-info-footer>
</div> 

