<div class="align-center">
    <img src="../../assets/categories1.png">
</div>
<div class="flex-container">
    <img src="../../assets/shirts.jpg"> 
    <img src="../../assets/jackets.jpg">
    <img src="../../assets/tshirts.jpg">
</div>
<div class="flex-container">
    <img src="../../assets/jeans.jpg"> 
    <img src="../../assets/casual-shoes.jpg">
    <img src="../../assets/sports-shoes.jpg">
</div>
<div class="flex-container">
    <img src="../../assets/sweatshirts.jpg"> 
    <img src="../../assets/kurtas.jpg">
    <img src="../../assets/trousers.jpg">
</div>

<div class="align-center">
    <img src="../../assets/top-deals1.png">
</div>
