<div *ngFor="let product of cartItems">
  <div class="cart-card">
    <div class="flexbox-container" (click)="cardClicked(product)">
      <div class="flexbox-common-item flex-item1">
        <img [src]="product.imageUrl" height="72px" width="72px">
        <!-- <label class="mat-card quantity">Quantity 1</label> -->
      </div>
      <div class="flexbox-common-item flex-item2">
        <label class="title">{{product.name}}</label>
        <div class="size">Size:<span>{{product.size}}</span></div>
        <div>
          <span [ngStyle]="{'text-decoration' : product.discountedPrice > 0 ? 'line-through' : ''}">₹{{product.actualPrice}}</span>
        <span *ngIf="product.discountedPrice > 0" style="padding-left:5px;">₹{{product.discountedPrice}}</span>
        <span *ngIf="product.discountedPrice > 0" style="padding-left:5px; color: green;">{{(100 * (product.actualPrice - product.discountedPrice) / product.actualPrice) | number: '1.0-0'}}% off</span>
        </div>
      </div>
    </div>
    <button mat-raised-button class="delete" (click)="delete(product)"><mat-icon>delete</mat-icon>Delete</button>
  </div>
</div>