<div class="loading-indicator" *ngIf="spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="margin" *ngIf="!spinner">
  <h2 class="tittle">{{product.name}}</h2>

  <div class="price-tittle">
    <span
      [ngStyle]="{'text-decoration' : product.discountedPrice > 0 ? 'line-through' : ''}">₹{{product.actualPrice}}</span>
    <span *ngIf="product.discountedPrice > 0" style="padding-left:5px;">₹{{product.discountedPrice}}</span>
  </div>

  <div class="image-view">
    <img [src]="selectedImgUrl">
  </div>

  <div class="image-selector">
    <div *ngFor="let imgUrl of product.imageUrls">
      <img [src]="imgUrl" (click)="imageSelected(imgUrl)" [ngClass]="selectedImgUrl == imgUrl ? 'icon-highlight' : ''">
    </div>
  </div>

<div>
  <h3>Size:</h3>
  <mat-chip-list aria-label="sizeList">
    <mat-chip [disabled]="product.size.small <= 0" (click)="product.size.small > 0 && chipClicked('small')" [selected]="selectedSize == 'small'">Small</mat-chip>
    <mat-chip [disabled]="product.size.medium <= 0" (click)="product.size.medium > 0 && chipClicked('medium')" [selected]="selectedSize == 'medium'">Medium</mat-chip>
    <mat-chip [disabled]="product.size.large <= 0" (click)="product.size.large > 0 && chipClicked('large')" [selected]="selectedSize == 'large'">Large</mat-chip>
    <mat-chip [disabled]="product.size.xlarge <= 0" (click)="product.size.xlarge > 0 && chipClicked('xlarge')" [selected]="selectedSize == 'xlarge'">xLarge</mat-chip>
    <mat-chip [disabled]="product.size.xxlarge <= 0" (click)="product.size.xxlarge > 0 && chipClicked('xxlarge')" [selected]="selectedSize == 'xxlarge'">xx Large</mat-chip>
  </mat-chip-list>
</div>

<div class="plusMinus">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)="plusMins('minus')" >-</mat-button-toggle>
    <mat-button-toggle>{{count}}</mat-button-toggle>
    <mat-button-toggle (click)="plusMins('add')" >+</mat-button-toggle>
  </mat-button-toggle-group>
</div>

  <button mat-raised-button class="buyIt">ADD TO CART</button>
  <button mat-raised-button color="primary" class="buyIt">BUY IT NOW</button>

  <div>
    <h3>{{product.description}}</h3>
  </div>
</div>