<div class="margin">
  <h2>Create New Stock</h2>

  <div>
    <button (click)="fileInput.click()" mat-flat-button color="primary" class="upload-btn">
      <mat-label>Upload Images (max 3 files)</mat-label>
      <input #fileInput type="file" multiple="multiple" accept=".jpg,.jpeg,.png" (change)="selectFile($event)"
        style="display:none;" />
    </button>
    <div *ngFor="let file of fileNames" class="upload-file">
      <label>{{file}}</label>
    </div>
    <div *ngFor="let file of fileStatus;let i = index" class="upload-file">
      <mat-icon class="icon" *ngIf="file.percentage == 100" (click)="deleteFile(file.file, i)">delete</mat-icon>
      <label>{{file.file.name}}</label>
      <span *ngIf="file.percentage == 100"><img src="../../assets/green_tick.png"></span>
    </div>
  </div>

  <form [formGroup]="stockForm">
    <mat-form-field appearance="outline">
      <mat-label>Name of the Product</mat-label>
      <input matInput placeholder="Enter Name" formControlName="name">
    </mat-form-field>
    <div class="errors" *ngIf="f.name.touched && f.name.invalid">
      <div *ngIf="f.name.errors?.required">Name Required</div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Select Category</mat-label>
      <mat-select formControlName="category" id="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="errors" *ngIf="f.category.touched && f.category.invalid">
      <div *ngIf="f.category.errors?.required">Category Required</div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Actual Price</mat-label>
      <input matInput placeholder="Enter Actual Price" formControlName="actualPrice" [value]="f.actualPrice.value | currency: 'INR' :'symbol': '1.0'">
    </mat-form-field>
    <div class="errors" *ngIf="f.actualPrice.touched && f.actualPrice.invalid">
      <div *ngIf="f.actualPrice.errors?.required">Actual Price Required</div>
      <div *ngIf="f.actualPrice.errors?.pattern">Only Numbers Allowed</div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Discounted Price</mat-label>
      <input matInput placeholder="Enter Discounted Price" formControlName="discountedPrice"  [value]="f.discountedPrice.value | currency: 'INR' :'symbol': '1.0'">
    </mat-form-field>
    <div class="errors" *ngIf="f.discountedPrice.touched && f.discountedPrice.invalid">
      <div *ngIf="f.discountedPrice.errors?.pattern">Only Numbers Allowed</div>
    </div>

    <div class="flexbox-container">
      <div class="flexbox-item1">
        <mat-form-field appearance="outline">
          <mat-label>Small</mat-label>
          <input matInput placeholder="Enter Quantity" formControlName="small">
        </mat-form-field>
      </div>
      <div class="flexbox-item1">
        <mat-form-field appearance="outline">
          <mat-label>Medium</mat-label>
          <input matInput placeholder="Enter Quantity" formControlName="medium">
        </mat-form-field>
      </div>
      <div class="flexbox-item1">
        <mat-form-field appearance="outline">
          <mat-label>Large</mat-label>
          <input matInput placeholder="Enter Quantity" formControlName="large">
        </mat-form-field>
      </div>
    </div>
    <div class="flexbox-container">
      <div class="flexbox-item1">
        <mat-form-field appearance="outline">
          <mat-label>XLarge</mat-label>
          <input matInput placeholder="Enter Quantity" formControlName="xlarge">
        </mat-form-field>
      </div>
      <div class="flexbox-item1">
        <mat-form-field appearance="outline">
          <mat-label>XXLarge</mat-label>
          <input matInput placeholder="Enter Quantity" formControlName="xxlarge">
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Enter Description" formControlName="description" rows="10">
       </textarea>
    </mat-form-field>

  </form>
</div>

<app-footer submit="Submit" cancel="Cancel" [valid]="formValid()" (card)="submit()"></app-footer>