.flexbox-container{
    display: flex;
}

.flexbox-item1 {
    flex-grow: 1;
    width: calc(100px / 3);
    margin-right: 3%;
}

img {
    margin-left: 2%;
    height: 12px;
    width: 15px;
}

.upload-btn {
    width: 100%;
    margin: 0 2% 2% 0;
}

.upload-file {
    margin-bottom: 3%;
    font-weight: lighter;
    font-family: monospace;
}

.icon {
    padding-top: 2%;
}