.footer {
    margin-top: 5%;
    bottom: 0;
    right: 0;
    color: #ffffff;
    background: #454545;
  }

  .margin1{
      margin: 10% 5% 5% 5%;
      padding-top: 5%;
      padding-right: 25%;
  }

  .copyrights {
      background: black;
      font-size: calc(16px - 3px);
      height: 32px;
      line-height: 25px;
      margin: 0;
      color: lightgray;
      text-align: center;
  }