<div class="footer">
    <div class="margin1">
        <h2>ABOUT</h2>
        <h3>POCKETS MENS WEAR</h3>

        Wear the best men’s fashion & clothing for every occasion, branded clothes & cotton dress online
        shopping gives best offers & discounts for men’s wear. Imagine the next level of fashion from the latest
        men’s fashion clothing collections. Traditional menswear & Clothes for your best moments.
    </div>
    <div class="copyrights">
        <label>© 2022 POCKETS MENS WEAR</label>
    </div>
</div>