.tittle{
    text-align: center;
    margin: 0 50px 5px 30px;
}

@media only screen and (min-width: 900px) {
    .margin {
        margin: 5% 20%;
    }
}

.account {
    text-align: center;
    margin: 5% 0;
    font-size: medium;
    color: #e91e63;
}

.signup {
    font-size: small;
}

.forgotpswd {
    color: lightgray;
    font-size: smaller;
}

form {
    padding-bottom: 8%;
}

.submit-btn{
    margin-top: 5%;
    width: 100%;
    background-color: #e91e63;
    height: 50px;
    color: white;
}