.tittle{
    text-align: center;
}

// .flex-container {
//     display: flex;
//     flex-wrap: nowrap;
//     flex-grow: 1;
//     max-width: calc(100% /2);
//   }
  
//   .flex-container > img {

//     max-height: 50%;
//     margin: 0;
//   }

// .cards {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//  }
  
//  .card {
//      flex: 0 1 45%;
//      margin: 2%;
//      box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
//  }

//https://github.com/thisiszoaib/card-view-demo/tree/master/src/app
//https://www.youtube.com/watch?v=O460xQPYckE
mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
    max-height: 100px;
}

