.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  color: black;
  z-index: 1;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(148 150 159 / 30%);
}

.icon {
  padding-left: 40px;
}

.subMenu {
  padding-left: 10px;
}

mat-toolbar > img {
  height: 50px;
  width: 130px;
  margin: auto;
}

mat-toolbar > mat-icon {
  padding-left: 3%;
  cursor: pointer;
}